@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

button {
  border: unset;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.try_it_btn {
  background-color: white;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 800;
}

.try_it_btn a {
  color: var(--dark-cyan);
}

.hero_section {
  background: url(./images/bg-hero-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;
  background-color: var(--pale-cyan);
  padding: 5vw;
}

.hero_container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  column-gap: 3vw;
}

.hero_text {
  margin-top: 4.5rem;
}

.hero_container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--dark-cyan);
  margin-bottom: 2rem;
}

.hero_container p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grayish-blue);
  margin-bottom: 2rem;
}

.get_started_btn_1,
.get_started_btn_2 {
  background-color: var(--pink);
  color: white;
  border-radius: 2rem;
}

.get_started_btn_1 {
  padding: 0.8rem 2.5rem;
}

.hero_img_div img {
  height: 25rem;
  width: 100%;
}

.middle_section {
  width: 100%;
  padding: 5rem 6vw;
  flex-wrap: wrap;
}

.middle_section div h2 {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--dark-cyan);
  margin-bottom: 1rem;
}

.middle_section div p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grayish-blue);
  margin-bottom: 1rem;
}

.middle_card {
  display: flex;
  column-gap: 3vw;
  width: fit-content;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px 2px hsl(208, 11%, 55%, 0.4);
}

.middle_card_text {
  padding: 0 5vw;
  margin: auto;
}

.middle_card_img_div {
  flex: 1;
  height: 100%;
  border-radius: inherit;
}

.middle_card_img {
  display: block;
  border-radius: inherit;
  height: 20rem;
  width: 35vw;
}

.build_box {
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 4vw;
  position: relative;
  top: 4rem;
  border-radius: 0.7rem;
}

.build_box h3 {
  color: var(--dark-cyan);
  font-weight: 600;
}

.get_started_btn_2 {
  padding: 0.8rem 3rem;
  margin-top: 1.5rem;
}

footer {
  color: #fff;
  padding: 5rem 5vw;
  background-color: var(--dark-cyan);
}

#footer-logo {
  margin-bottom: 1rem;
}

.footer-wrapper {
  display: grid;
  column-gap: 4vw;
  grid-template-columns: repeat(3, 1fr);
}
.footer-desc div {
  display: flex;
  margin-bottom: 1rem;
}

.footer-desc img {
  margin-right: 0.8rem;
}

footer span {
  display: block;
}

footer p {
  text-align: right;
}

.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-links span {
  margin-bottom: 0.7rem;
}

@media (max-width: 768px) {
  .hero_container,
  .footer-wrapper,
  .footer-links {
    display: block;
  }
  .hero_container {
    text-align: center;
  }
  .hero_text h1 {
    font-size: 8vw;
  }

  .get_started_btn_1 {
    margin-bottom: 3rem;
  }

  .middle_card:nth-child(2) {
    flex-direction: column;
  }
  .middle_card_img {
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .middle_card_text {
    margin: 2rem 0;
  }
  .middle_card {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  .footer-links {
    margin-bottom: 0.6rem;
  }
  .socials {
    text-align: center;
    margin: 1rem 0.5rem;
  }
  footer p {
    text-align: center;
  }
}
